<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Hallo
  </h1>
</div>
<h2>Hier sind meine Tiere. Klicke sie an und schau in die Konsole.</h2>
<ul>
  <li [appAnimal]="myKangaroo">Känguruu</li>
  <li [appAnimal]="myTiger">Tiger</li>
</ul>

